/*colors*/
html{
  --palegold: #c0b283;
  --silk: #dcd0c0;
  --paper: #f4f4f4;
  --charcoal: #373737;
}

#navbar{
  background-color: var(--paper);
  padding-bottom: 0;
}
#websitename{
  color: var(--charchoal);
  font-family: monospace;
  margin-left: 28%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.ui.button{
  color: var(--charcoal);
  background-color: var(--silk);
}

.ui.button:hover{
  background-color: var(--palegold);
}

.ui.form .ui.input input{
  border-color: var(--silk)
}

.ui.checkbox{
  color: var(--palegold);
}