/*colors*/
html{
  --palegold: #c0b283;
  --silk: #dcd0c0;
  --paper: #f4f4f4;
  --charcoal: #373737;
}

.ui.button{
  color: var(--charcoal);
  background-color: var(--silk);
}

.ui.button:hover{
  background-color: var(--palegold);
}

.ui.form .ui.input input{
  border-color: var(--silk)
}

.ui.checkbox{
  color: var(--palegold);
}